<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="#" class="nav-brand text-dark">Company Edit</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    
    <!-- Back -->
    <%- include('include/_back.ejs') %>
    <!-- /Back -->

    <!-- form handling -->
    <form method="POST" id="edit_company">
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Company Name</label>
                <input type="hidden" name="id" value="<%= company._id %>">
                <input type="text" name="name" value="<%= company.name %>" placeholder="Eg: Google">
            </div>
            
            <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="email" name="email" value="<%= company.email %>" placeholder="Eg: jobs@google.com">
            </div>
            
            <div class="form-group">
                <label for="password" class="text-light">Password</label>
                <input type="password" name="password" value="<%= company.password %>" placeholder="Eg: 1234">
            </div>
            
            <div class="form-group">
                <label for="req_age" class="text-light">Required Age</label>
                <input type="number" name="req_age" value="<%= company.req_age %>" placeholder="Eg: 21">
            </div>
            
            <div class="form-group">
                <label for="req_cpi" class="text-light">CPI Required</label>
                <input type="number" step="0.01" name="req_cpi" value="<%= company.req_cpi %>" placeholder="Eg: 7.5">
            </div>
            
            <div class="form-group">
                <label for="website" class="text-light">Official Website</label>
                <input type="text" name="website" value="<%= company.website %>" placeholder="Eg: jobs.google.com">
            </div>
            
            <div class="form-group">
                <label for="position" class="text-light">Position</label>
                <input type="text" name="position" value="<%= company.position %>" placeholder="Eg: Software Developer">
            </div>
            
            <div class="form-group">
                <label for="package" class="text-light">Package</label>
                <input type="text" name="package" value="<%= company.package %>" placeholder="Eg: 53 LPA">
            </div>
            
            <div class="form-group">
                <label for="description" class="text-light">Description</label>
                <input type="text" name="description" value="<%= company.description %>" placeholder="Eg: Our company works on NodeJs">
            </div>
            
            <div class="form-group" >
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
            
        </div>
    </form>

    <!-- /form handling -->

    <%- include('include/_footer.ejs') %>