<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Portal</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="#" class="nav-brand text-dark">Student Details</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Back -->
        <%- include('include/_back.ejs') %>
        <!-- /Back -->

        <table class="table container mytable">
            <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><%= student.name %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><%= student.email %></td>
                </tr>
                <tr>
                    <td>Batch</td>
                    <td><%= student.batch %></td>
                </tr>
                <tr>
                    <td>CPI</td>
                    <td><%= student.cpi %></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><%= student.age %></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><%= student.gender %></td>
                </tr>
                <tr>
                    <td>TechStack</td>
                    <td><%= student.techstack %></td>
                </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button class="btn update" id="set">
                <a href="/studentedit?email=<%= student.email %>">Edit</a>
            </button>
            <button class="btn update" id="set">
                <a href="/api/studentdelete/<%= student._id %>">Delete</a>
            </button>
            <button class="btn update" id="set">
                <a href="/searchcompany?email=<%= student.email %>&cpi=<%= student.cpi %>&age=<%= student.age %>">Seach Company</a>
            </button>
            <button class="btn update" id="set">
                <a href="/allcompany?id=all">All Companies</a>
            </button>
        </div>

        <%- include('include/_footer.ejs') %>