<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="#" class="nav-brand text-dark">Student Edit</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    
    <!-- Back -->
    <%- include('include/_back.ejs') %>
    <!-- /Back -->

    <!-- form handling -->
    <form method="POST" id="update_user">
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Full Name</label>
                <input type="hidden" name="id" value="<%= student._id %>">
                <input type="text" name="name" value="<%= student.name %>" placeholder="Eg: Jatin Ranpariya">
            </div>

            <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="email" name="email" value="<%= student.email %>" placeholder="Eg: jatin1510@gmail.com">
            </div>

            <div class="form-group">
                <label for="password" class="text-light">Password</label>
                <input type="password" name="password" value="<%= student.password %>" placeholder="Eg: 1234">
            </div>

            <div class="form-group">
                <label for="batch" class="text-light">Batch</label>
                <input type="number" name="batch" value="<%= student.batch %>" placeholder="Eg: 2020">
            </div>

            <div class="form-group">
                <label for="cpi" class="text-light">CPI</label>
                <input type="number" step="0.01" name="cpi" value="<%= student.cpi %>" placeholder="Eg: 8.1">
            </div>

            <div class="form-group">
                <label for="age" class="text-light">Age</label>
                <input type="number" name="age" value="<%= student.age %>" placeholder="Eg: 21">
            </div>

            <div class="form-group">
                <label for="gender" class="text-light">Gender </label>
                <div class="radio inline">
                    <input type="radio" name="gender" id="radio-1" value="Male" <%= student.gender == 'Male' ? 'checked' : '' %>>
                    <label for="radio-1" class="radio-label">Male</label>
                </div>
                <div class="radio inline">
                    <input type="radio" name="gender" id="radio-2" value="Female" <%= student.gender == 'Female' ? 'checked' : '' %>>
                    <label for="radio-2" class="radio-label">Female</label>
                </div>
                <div class="radio inline">
                    <input type="radio" name="gender" id="radio-3" value="Other" <%= student.gender == 'Other' ? 'checked' : '' %>>
                    <label for="radio-3" class="radio-label">Other</label>
                </div>
            </div>

            <div class="form-group">
                <label for="techstack" class="text-light">TechStack</label>
                <input type="text" name="techstack" value="<%= student.techstack %>" placeholder="Eg: HTML, CSS and JS">
            </div>
            
            <div class="form-group" >
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
        </div>
    </form>

    <!-- /form handling -->

    <%- include('include/_footer.ejs') %>